@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager

    @if (signInManager.IsSignedIn(User))
{
    var user = await userManager.GetUserAsync(User); var fullName = user?.Name;
 
    <form method="post" id="logOutForm" asp-action="LogOut" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li>Hello, @fullName!</li>
            <li style ="margin-left: 20px;"><a href="javascript:document.getElementById('logOutForm').submit()">Log Off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" id="registerLink" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="loginLink" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}