
@{
    ViewData["Title"] = "DoctorDetails";
}
@using DoctorAppointmentSchedulingApp.Models
@model List<DoctorViewModel>
<!--Header Part-->
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">CareGiver List</h2>
        </div>

    </div>
    </<br />

    <!--Using Loops to populated data in a table-->
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        UserName
                    </th>
                    <th>
                        Assigned To
                    </th>
                    <th>
                        Assignment Status
                    </th>    
                     <th>
                        Action
                    </th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="10%">@item.Name</td>
                        <td width="30%">@item.userName</td>
                        <td width="20%">@item.assignedTo</td>
                        <td width="30%">
                            @{
                                string status = "Not Assigned";
                                if (item.assignmentStatus=="True")
                                {
                                    status = "Assigned";
                                }
                                else
                                {
                                    status = "Not Assigned";
                                }
                            }
                            @status
                        </td>
                        <td width="10%">
                            <div class="width-100 btn-group" role="group">
                                <a asp-controller="Doctor" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-primary mx-1">Update</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    }
    else
    {
        <p>There is no data. Please add some</p>
    }
</div>



